# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/
**/dist/
*.tsbuildinfo

# Env
.env
.env.local
**/.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/
**/coverage/

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Misc
.cache/
*.local
